html {
  &.default {
    body {
      //background-color: #154265 20%;
      //background-image: radial-gradient(farthest-side ellipse at 10% 0, #154265 20%, #7392c2);
      //background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, #154265 20%, #7392c2);
      //background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, #154265 20%, #7392c2);

      @extend body;

      font-size: 13px;
      line-height: 1.428571429;
      padding-bottom: 0;


      .page-header{
        margin-top: 0;
        .navbar{

          background-color: transparent;
          transition: background-color 0.2s;

          &.transparent{
            background-color: transparent;
          }

          .navbar-brand{
            padding: 0 25px;
            height: auto;
          }
          .navbar-nav {
            & > li{

              &.logout > a,
              &.sidebar-btn > a{
                transition: color 0.2s;
                font-size: 19.5px;
                padding: 5px;
                margin: 5px 25px;
                width: auto;
                height: auto;
                &:hover {
                  color: #ffffff
                }
              }
            }
          }

          @media (min-width: 990px) {
            padding: 15px 2.5641% 15px 0;
            margin-left: 270px;
          }
        }

        & ~ #body {
          margin-top: 0 !important;
          padding-top: 0 !important;
        }
      }

      #sidebar{
        //margin-top: 60px;

        .sidebar{
          margin-left: 0;
        }
        .sidebar-nav-container{
          .sidebar-nav {
            border-left: 0;
            margin-left: 0;
            margin-right: 0;
            & > li {
              margin: 2px 0;

              &.open{
                & > a{
                  background-color: rgba(0, 0, 0, 0.07);
                }
              }

              & > a {
                border-radius: 6px;

                color: #FFFFFF;
                transition: background-color 0.2s;


                font-size: 13px;
                line-height: 1.428571429;

                &:hover, {
                  background-color: rgba(0, 0, 0, 0.07);
                }

                .name > span > .label,
                .name > .label{
                  margin-top: -1px;
                }
              }

              & > .sidebar-nav{
                & > li{
                  & > a{
                    padding-left: 58px;
                  }
                }
              }

              .toggle-button{
                font-size: 10px;
                top: 16px;
              }

              &.active, {
                border-left: none;
                font-weight: 600;

                & > a {
                  background-color: transparent;
                  padding-left: 25px;

                  &:hover{
                    background-color: rgba(0, 0, 0, 0.07);
                  }
                }
              }

              &:before{
                content: none;
              }
            }
          }
        }
      }
    }
  }
}