/* ADD/REMOVE/CHANGE THEMES HERE */


$theme-color:	                            #ffffff;
$theme-bg-color:          	                transparent;
$body-color:                                $brand-primary;
$body-bg-color:                             transparent;
$header-color:                              $primary-color;
$header-bg-color:                           transparent;
$header-hover-color:                        #ffffff;
$logout-bg-color:                           transparent;
$logout-color:                              darken($primary-color, 15%);
$logout-hover-bg:                           transparent;
$logout-hover-color:                        #ffffff;
$sidebar-btn-bg:                            transparent;
$sidebar-btn-color:                         #ffffff;
$sidebar-btn-hover-bg:                      #3ecd74;
$header-divider-color:                      rgba(59, 70, 72, 0.45);
$sidebar-bg:                                transparent;
$sidebar-avatar-bg:                         transparent;
$sidebar-controls-bg:                       transparent;
$sidebar-controls-btn-color:                $primary-color;
$sidebar-controls-btn-border:               transparent;
$sidebar-controls-btn-active-bg:            transparent;
$sidebar-controls-btn-active-color:         #ffffff;
$components-link-color:                     #3ecd74;
$components-panel-bg:                       rgba(51,51,51,0.4);
$components-panel-border:                   #CEDBEC;
$components-form-control-border:            #ddd;
$components-form-control-active-border:     #3ecd74;
$footer-color:                              #CCD6DF;
$footer-bg:                                 $primary-color;



// Giving the default theme a name
@include theme-maker("default", ());

@include theme-mixin("default", (
        theme (
                color $theme-color,
                bg $theme-bg-color
        ),
        body (
                bg $body-bg-color,
                color $body-color
        ),
        header (
                bg $header-bg-color,
                color $header-color,
                hover-color $header-hover-color,

                logout (
                        bg $logout-bg-color,
                        color $logout-color,
                        hover-bg $logout-hover-bg
                ),

                sidebar-btn (
                        bg $sidebar-btn-bg,
                        color $sidebar-btn-color,
                        hover-bg $sidebar-btn-hover-bg
                ),

                divider (
                        color $header-divider-color
                )
        ),
        sidebar (
                bg $sidebar-bg,
                font-weight 300,
                width 300px,
                avatar (
                        bg $sidebar-avatar-bg
                ),
                controls (
                        bg $sidebar-controls-bg,
                        btn (
                                color $sidebar-controls-btn-color,
                                border $sidebar-controls-btn-border,
                                active-bg $sidebar-controls-btn-active-bg,
                                active-color $sidebar-controls-btn-active-color
                        )
                ),
        ),
        components (
                link (
                        color $components-link-color
                ),
                panel (
                        bg $components-panel-bg,
                        border $components-panel-border
                ),
                form-control (
                        border $components-form-control-border,
                        active (
                                border $components-form-control-active-border
                        )
                )
        ),
        footer (
                bg $footer-bg,
                color $footer-color
        )
));